In [80]:
import pandas as pd

In [81]:
df= pd.read_csv("BBC News.csv")

In [82]:
df

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [83]:
df["Category"].unique()

array(['business', 'tech', 'politics', 'sport', 'entertainment'],
      dtype=object)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [85]:

df["Text"][9]

'fockers fuel festive film chart comedy meet the fockers topped the festive box office in north america  setting a new record for christmas day.  the sequel took $44.7m (Â£23.2m) between 24 and 26 december  according to studio estimates. it took $19.1m (Â£9.9m) on christmas day alone  the highest takings on that day in box office history. meet the fockers is the sequel to ben stiller comedy meet the parents  also starring robert de niro  blythe danner  dustin hoffman and barbra streisand. despite the success of meet the fockers  takings were down 26.5% on 2003 s figures - which was blamed on christmas falling over a weekend this year.   when christmas falls on a weekend  it s bad for business   said paul dergarabedian  president of exhibitor relations  which compiles box office statistics. the weekend s top 12 films took an estimated $121.9m (Â£63.3m)  compared with $165.8m (Â£86.1m) last year  when the third lord of the rings film dominated the box office. meet the fockers knocked last week s top film  lemony snicket s a series of unfortunate events  down to third place  with $12.5m (Â£6.5m). comedy fat albert - co-written by bill cosby - entered the chart in second place after opening on christmas day  taking $12.7m (Â£6.6m). the aviator  starring leonardo dicaprio as howard hughes  took $9.4m after expanding from 40 to 1 796 cinemas on christmas day.'

In [86]:
df["Category"][9]

'entertainment'

In [87]:
#import countvectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [88]:
vector= CountVectorizer(stop_words="english")

In [89]:
bow = vector.fit_transform(df["Text"])

In [90]:
bow

<1490x24456 sparse matrix of type '<class 'numpy.int64'>'
	with 213866 stored elements in Compressed Sparse Row format>

In [91]:
type(bow)

scipy.sparse.csr.csr_matrix

In [92]:
bow.shape

(1490, 24456)

In [93]:
#len(bow.vocabulary_)

In [94]:
X=pd.DataFrame(bow.toarray(), columns=vector.get_feature_names_out())

In [95]:
y= df["Category"]

In [96]:
y

0            business
1            business
2            business
3                tech
4            business
            ...
1485    entertainment
1486    entertainment
1487         business
1488             tech
1489             tech
Name: Category, Length: 1490, dtype: object

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
# initialize LabelEncoder
lencod = LabelEncoder()
# fit_transform() converts the text to numbers
df["Category"]= lencod.fit_transform(df['Category'])

In [99]:
df["Category"]

0       0
1       0
2       0
3       4
4       0
       ..
1485    1
1486    1
1487    0
1488    4
1489    4
Name: Category, Length: 1490, dtype: int64

In [100]:
y=df["Category"]

In [101]:
#splitting into train,test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train , y_test = train_test_split(X,y,
                                                    test_size=0.3,random_state=134)

In [102]:
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score, f1_score

Building the Models

In [103]:
# logistic regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
accuracy_score(y_test, y_pred)

0.9619686800894854

In [104]:
#### decision trees
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
accuracy_score(y_test, y_pred)

0.8165548098434005

In [105]:
## knn
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.4272930648769575

In [106]:
print('Weighted F1-score: {:.2f}'.format(f1_score(y_test, y_pred, average='weighted')))

Weighted F1-score: 0.38

In [107]:
### svm
from sklearn.svm import SVC
sv = SVC()
sv.fit(X_train, y_train)
y_pred = sv.predict(X_test)
accuracy_score(y_test, y_pred)

0.9530201342281879

In [108]:
print('Weighted F1-score: {:.2f}'.format(f1_score(y_test, y_pred, average='weighted')))

Weighted F1-score: 0.95

In [109]:
####### random forest classifier
from sklearn.ensemble import RandomForestClassifier
rt = RandomForestClassifier()
rt.fit(X_train, y_train)
y_pred = rt.predict(X_test)
accuracy_score(y_test, y_pred)

0.9485458612975392

In [110]:
print('Weighted F1-score: {:.2f}'.format(f1_score(y_test, y_pred, average='weighted')))

Weighted F1-score: 0.95

Apply TFIDF

In [111]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [112]:
tfidf_vec = TfidfVectorizer(stop_words='english', ngram_range=(1, 1), max_features=10000, use_idf=True)

features = tfidf_vec.fit_transform(df).toarray()
labels = df.Category

In [113]:
X = df.Text
y = df.Category
#split data
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.6, random_state = 1)

In [114]:
vector = CountVectorizer(stop_words = 'english',lowercase=False)
# fit the vectorizer on the training data
vector.fit(X_train)
vector.vocabulary_
X_transformed = vector.transform(X_train)
X_transformed.toarray()
# for test data
X_test_transformed = vector.transform(X_test)

In [115]:
X_transformed.shape

(894, 19484)

In [116]:
y_train.shape

(894,)

Bulid models after applying TFIDF

In [117]:
# logistic regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_transformed, y_train)
y_pred = lr.predict(X_test_transformed)
accuracy_score(y_test, y_pred)

0.9664429530201343

In [119]:
#### decision trees
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_transformed, y_train)
y_pred = dt.predict(X_test_transformed)
accuracy_score(y_test, y_pred)

0.8238255033557047

In [120]:
## knn
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(X_transformed, y_train)
y_pred = knn.predict(X_test_transformed)
accuracy_score(y_test, y_pred)

0.3926174496644295

In [121]:
print('Weighted F1-score: {:.2f}'.format(f1_score(y_test, y_pred, average='weighted')))

Weighted F1-score: 0.36

In [122]:
### svm
from sklearn.svm import SVC
sv = SVC()
sv.fit(X_transformed, y_train)
y_pred = sv.predict(X_test_transformed)
accuracy_score(y_test, y_pred)

0.9345637583892618

In [123]:
print('Weighted F1-score: {:.2f}'.format(f1_score(y_test, y_pred, average='weighted')))

Weighted F1-score: 0.93

In [124]:
####### random forest classifier
from sklearn.ensemble import RandomForestClassifier
rt = RandomForestClassifier()
rt.fit(X_transformed, y_train)
y_pred = rt.predict(X_test_transformed)
accuracy_score(y_test, y_pred)

0.9546979865771812

In [125]:
print('Weighted F1-score: {:.2f}'.format(f1_score(y_test, y_pred, average='weighted')))

Weighted F1-score: 0.95